
<nav class="navbar navbar-inverse">
    <!-- <a class="navbar-brand" href="#">Title</a>  -->
    <ul class="nav navbar-nav">
       <li class="active">
           <a routerLink="/home">Home</a>
       </li>
       <li>
           <a routerLink="/about">About Us</a>
       </li>
       <li>
           <a routerLink="/contact">Contact Us</a>
       </li>
       <li>
           <a routerLink="/help">Help</a>
       </li>
       <li>
           <a routerLink="/login">Login</a>
       </li>
       <li>
           <a routerLink="/newuser">New User?</a>
       </li>
     
        <!-- <li *ngIf="!service.isLoggedIn()">
        <a routerLink="/login">Login Here</a>
       </li>   

       <li *ngIf="service.isLoggedIn()">
        <button type="button" (click)="Logout()" class="btn btn-large btn-block btn-success">Logout</button>
           </li>
       -->
       
   </ul>
   <!-- <div ng-init="myvar='swap3.jpeg'">
    <img ng-src="{{myvar}}">
    </div> -->
</nav>



<img src="assets/swap3.jpeg " class="img-responsive" alt="Image">


<router-outlet></router-outlet>  


    
 
    




<!-- <a routerLink="/home">Home | </a>
<a routerLink="/contact">Contact Us</a> -->

  